@model IEnumerable<ListarCondutorViewModel>

@{
    ViewBag.Title = "Listagem de Condutores";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Condutor</th>
            <th>Cliente</th>
            <th>CPF/CNPJ</th>
            <th>CNH</th>
            <th>Validade CNH</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var condutor in Model)
        {
            <tr>
                <td>@condutor.Id</td>
                <td>@condutor.Nome</td>
                <td>@condutor.testin(condutor.Nome,@condutor.Cliente)</td>
                <td>@condutor.CpfOuCnpf(condutor.Cliente)</td>
                <td>@condutor.CNH</td>
                <td>@condutor.ValidadeCNH.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@condutor.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@condutor.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Excluir" asp-route-id="@condutor.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Cadastrar" class="btn btn-primary">Cadastrar Novo Condutor</a>
