@model IEnumerable<ListarTaxasViewModel>

@{
    ViewBag.Title = "Lista de Clientes";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Tipo de Cobrança</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taxa in Model)
        {
            <tr>
                <td>@taxa.Id</td>
                <td>@taxa.Nome</td>
                <td>@taxa.Valor.ToString("C")</td>
                <td>@(taxa.TipoDeCobranca ? "Fixa" : "Diária")</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@taxa.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@taxa.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Excluir" asp-route-id="@taxa.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Cadastrar" class="btn btn-primary">Cadastro Nova Taxa ou Serviço</a>
