@model IEnumerable<ListarAluguelViewModel>
@{
    ViewBag.Title = "Listagem de Aluguéis";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Automóvel</th>
            <th>Condutor</th>
            <th>Grupo de Automóveis</th>
            <th>Data de Saída</th>
            <th>Retorno Previsto</th>
            <th>Valor de Entrada</th>
            <th>Plano</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var aluguel in Model)
        {
            var ativo = "";
            if (aluguel.encerrado == true)
                ativo = "disabled";


            <tr >
                <th>@aluguel.Id</th>
                <td>@aluguel.Veiculo</td>
                <td>@aluguel.Condutor</td>
                <td>@aluguel.Grupo</td>
                <td>@aluguel.DataLocacao.ToString("dd/MM/yyyy")</td>
                <td>@aluguel.DateDevolucaoPrevista?.ToString("dd/MM/yyyy")</td>
                <td>@aluguel.Entrada.ToString("C")</td>
                <td>@aluguel.Plano</td>
                <td>
                    <a asp-action="PreFinalizacao" asp-route-id="@aluguel.Id" class="btn btn-success @ativo">Devolução</a>
                    <a asp-action="Excluir" asp-route-id="@aluguel.Id" class="btn btn-danger @ativo">Excluir</a>
                    <a asp-action="Detalhes" asp-route-id="@aluguel.Id" class="btn btn-primary @ativo">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Cadastrar" class="btn btn-primary">Novo cadastro aluguel</a>
