@model PrefinalizarAluguelViewModel
@{
    ViewBag.Title = "Detalhes do Aluguel";
}

 <div class="form-group">
    <label>Cliente:</label>
    <input class="form-control" value="@Model.Aluguel.Cliente.Nome" disabled />
</div>
<div class="form-group">
    <label>Condutor:</label>
    <input class="form-control" value="@Model.Aluguel.Condutor.Nome" disabled />
</div>
<div class="form-group">
    <label>Grupo de Veículos:</label>
    <input class="form-control" value="@Model.Aluguel.Grupo.Nome" disabled />
</div>

<div class="form-group">
    <label>Veículo:</label>
    <input class="form-control" value="@Model.Aluguel.Veiculo.Modelo" disabled />
</div>

<div class="form-group">
    <label>Plano:</label>
    <input class="form-control" value="@Model.Aluguel.Plano.TipoPlano.ToString()" disabled />
</div>

<div class="form-group">
    <label>Data de Locação:</label>
    <input class="form-control" value="@Model.Aluguel.DataLocacao.ToString("dd/MM/yyyy")" disabled />
</div>

<form asp-action="SalvarKmFinal" asp-route-id="@Model.Aluguel.Id" method="post">
    <div class="form-group d-flex gap-4">
        <div>
            <label>Km Inicial:</label>
            <input type="number" class="form-control" value="@Model.Aluguel.Veiculo.Quilometragem" disabled />
        </div>
        <div>
            <label>Km Final:</label>
            <input type="number" class="form-control" asp-for="@Model.KmFinal" placeholder="Insira a quilometragem atual do veículo" required />
        </div>
    </div>
   

    <div class="form-group">
        <label>Data de Devolução Prevista:</label>
        <input class="form-control"
               value="Model.Aluguel.DateDevolucaoPrevista.Value.ToString("dd/MM/yyyy"))"
               disabled />
    </div>

    <div class="form-group">
        <label>Valor de Entrada:</label>
        <input class="form-control" value="@Model.Aluguel.Entrada.ToString("C")" disabled />
    </div>
    <div class="form-group">
        <label>Serviços:</label>
        @if (Model.Aluguel.Taxas is not null)
        {
            <ul class="list-group">
                @foreach (var taxa in Model.Aluguel.Taxas)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @taxa.Nome - @taxa.Valor.ToString("C")
                    </li>
                }
            </ul>
        }
        else
        {
            <p class="form-control-static">Nenhuma taxa aplicada.</p>
        }

        <div>
            <label>Valor final:</label>
            <input type="text" class="form-control" value="@Model.Aluguel.ValorFinal" disabled />
        </div>
    </div>
 
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar Km Final</button>
        <a asp-action="Listar" class="btn btn-secondary">Voltar</a>
    </div>
</form>