@model IEnumerable<ListarClienteViewModel>

@{
    ViewBag.Title = "Lista de Clientes";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>CPF/CNPJ</th>
            <th>Perfil</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                <td>@cliente.Telefone</td>
                <td>@cliente.CpfOuCnpj(cliente.Cliente)</td>
                
                <td>@cliente.TipoCliente</td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@cliente.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Editar" asp-route-id="@cliente.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Excluir" asp-route-id="@cliente.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Cadastrar" class="btn btn-primary">Novo Cliente</a>