@model FormPlanoViewModels

@{
    ViewBag.Title = "Detalhes do Plano";
}

<div class="form-group">
    <label>Grupo de Veículos:</label>
    <input class="form-control" value="@Model.GrupoVeiculos" disabled />
</div>

<div class="form-group">
    <label>Valor da Diária:</label>
    <input class="form-control" value="@Model.ValorDiaria?.ToString("C")" disabled />
</div>

<div class="form-group">
    <label>Valor do Km:</label>
    <input class="form-control" value="@Model.PrecoKm?.ToString("C")" disabled />
</div>

<div class="form-group">
    <label>Km Disponível:</label>
    <input class="form-control" value="@Model.kmDisponivel" disabled />
</div>

<div class="form-group">
    <label>Valor Extrapolado por Km:</label>
    <input class="form-control" value="@Model.ValorExtrapolado?.ToString("C")" disabled />
</div>

<div class="form-group">
    <a asp-action="Listar" class="btn btn-secondary">Voltar</a>
</div>
