@model IEnumerable<ListarPlanoViewModel>
@{
    ViewBag.Title = "Lista de Planos";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Grupo de Veículos</th>
            <th>Valor Diária</th>
            <th>Preço KM</th>
            <th>Km Disponível</th>
            <th>Valor Extrapolado</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var plano in Model)
          {
            <tr>
                <th>@plano.Id</th>
                <td>@plano.GrupoVeiculos</td>
                <td>@plano.OcultarValoresNulos(plano.ValorDiaria)</td>
                <td>@plano.OcultarValoresNulos(plano.PrecoKm)</td>
                <td>@plano.OcultarValoresNulos(plano.kmDisponivel)</td>
                <td>@plano.OcultarValoresNulos(plano.ValorExtrapolado)</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@plano.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Detalhes" asp-route-id="@plano.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Excluir" asp-route-id="@plano.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Cadastrar" class="btn btn-primary">Novo Plano</a>
